body {

}

body {
width: 100%;
border: 1px solid;
}

* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;;
}

header,footer {
    background-color: 666#
    padding: 1em;
    text-align: center;
}

header .h2 {
    text-align: center;
    text-transform: uppercase
    
}header .nav {
    text-align: left;
    padding :33.33%
}