.students-table {

}
.students-table table caption {
    text-align: center;
    text-transform: uppercase;
    color: greenyellow
}


.students-table table tr:hover{
    background-color: #ddd; 
    cursor: pointer;
}
.students-table table thead th {
    text-transform: uppercase;
    background-color:yellow;

}
.students-table table, th, td {
    border:1px solid black;
    height: 30px;
    vertical-align:center;
    padding: 10px;
    border-collapse: collapse;
}
.students-table table th {
    text-align: center;

}
.students-table table td {  
    text-align: left;

    


}
    
    
    